<div align='center'>
<container><%= @photo.caption %></container><br>
<%= image_tag @photo.image.url(:thumb)%><br>
<% @photo.hashtags.each do |tag| %>
	<%=link_to tag.text, hashtag_path(tag)%>
<%end%>

<%= button_to 'Edit', edit_photo_path(@photo), :method => :get %><br>
<%= button_to "Delete", @photo, :method => :delete, data: {confirm: "Are you sure bru?"} %><br>
<%= link_to "Back to home", photos_path %>
</div>